    <div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="opacity: 80%">
		  <a class="navbar-brand" href="#">MyWeb</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link " href="{% url 'index' %}">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'project' %}">Project</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link pull-right" href="{% url 'blog' %}">Blog</a>
		      </li>
		      <li class="nav-item disabled">
		        <a class="nav-link pull-right" href="{% url 'galeri' %}">galeri</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link pull-right" href="{% url 'story1' %}">story 1</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link pull-right" href="{% url 'jadwal' %}">jadwal</a>
		      </li>
		    </ul>
		  </nav>
		  	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark" style="opacity:100%">
		  <a class="navbar-brand" >Find me on:  </a>
		    <ul class="navbar-nav ml-auto mr-0">
		      <li class="nav-item">
		        <a class="nav-link " href="https://www.instagram.com/kristiantodesun"><img class="icon" src="/static/icon/Vector.png" ></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="https://web.facebook.com/kristianto.desun"><img class="icon" src="/static/icon/Vector (1).png"></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="http://line.me/ti/p/~kristiantodesun"><img class="icon" src="/static/icon/Vector (2).png" ></a>
		      </li>
		    </ul>
		</nav>
    </div>
