{% extends 'base.html' %}
{% block title %} jadwal {% endblock %}
{% block content %}
<body class="jadwalku">
<br><br>
  <h2 style="color: white">Jadwalku</h2>
  
  <div class="container">
    <div class="row">
    <p>
      <a href="{% url 'register' %}" class="btn btn-secondary" style="float: left;">tambah jadwal</a>
    </p>
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <table class="table table-striped table-dark" style=" float: center;" >
        	<thead class="thead-dark">
        		<tr >
        			<th scope="col">Nama</th>
        			<th scope="col">Dosen</th>
        			<th scope="col">Sks</th>
        			<th scope="col">Ruang</th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for j in jdwl %}
        		<tr style="color: white">
        			<td scope="row"><a href="{% url 'detailjadwal' pk=j.pk %}">{{ j.nama }}</a></td>
        			<td>{{ j.dosen }}</td>
        			<td>{{ j.sks }}</td>
        			<td>{{ j.ruang }}</td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
      </div>
  </div>
{% endblock %}