{% extends 'base.html' %}
{% block title %} project {% endblock %}
{% block content %}
    
  <body style="background-color: black" class="project">
    
				<br><br>
		<h1 style="text-align: center;color: white;">My Project.</h1>
		<div class="container">

		<div class="row" style="color: white">

		  	<div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  	<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>	
		  	<div class="col-lg-offset-2"></div>
		</div>		  <br>
		<div class="row" style="color: white">

		  	<div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  		<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>
		  	<div class="col-lg-offset-2"></div>
		</div><br>
		<div class="row" style="color: white">

		  	<div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  		<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>
		  	<div class="col-lg-offset-2"></div>
		  		  
		</div><br>
		<div class="row" style="color: white">
		  <div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  	<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left s-text-center">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>
		  	<div class="col-lg-offset-2"></div>
		</div>		  <br>
		<div class="row" style="color: white">

		  	<div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  		<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>
		  	<div class="col-lg-offset-2"></div>
		</div><br>
		<div class="row" style="color: white">

		  	<div class="col-lg-3 col-md-4 col-s-12 folat-right mr-0">
		  		<a href="#"><img class="image1" src="/static/icon/image.png"> </a>
		  	</div>
		  	<div class="col-lg-7 col-md-8 col-s-12 text-left">
		  		<a href="#"><h2 class="stotitle">Title of the project</h2></a>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, turpis vel feugiat maximus, tortor nisl maximus sapien, vitae iaculis orci felis ut purus. In hac habitasse platea dictumst. Duis nec aliquam augue, vel elementum augue. Donec ullamcorper risus vel dolor vestibulum pretium. Nunc facilisis massa quis facilisis tincidunt. Vestibulum varius justo a magna pretium, tempus tincidunt massa gravida. Aliquam erat volutpat. Sed porttitor accumsan magna ut sagittis. Ut a consectetur erat.<br>
		  	</div>
		  	<div class="col-lg-offset-2"></div>
		  </div>		  
		</div>
		</div><br><br>
		


		
    </div>
    

		 

 {% endblock %}